* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  h1 {
    color: #000000;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  
  h1 span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background-color: rgb(138, 24, 26);
    color: #ffffff;
    display: block;
    font-weight: 900;
    /* overflow: hidden; */
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3, .word4 {
    font-family: tahoma;
  }
  
  @keyframes openclose1 {
    0% { width: 0; }
    5% { width: 150px; }
    15% { width: 430px; }
    30% { width: 530px; }
    35% { width: 0; }
    38% { top: -4.5rem; }
    48% { top: -4.5rem; width: 190px; }
    60% { top: -4.5rem; width: calc(100% - 80px); }
    65% { top: -4.5rem; width: 550px; text-indent: 0; }
    70% { top: -9rem; width: 0; text-indent: 5px; }
    85% { top: -9rem; width: 385px; }
    95% { top: -9rem; width: 385px; }
    100% { top: 0; width: 0; text-indent: 0; }
  }
  
  @keyframes openclose2 {
    0% { width: 0; }
    5% { width: 150px; }
    15% { width: 430px; }
    30% { width: 530px; }
    35% { width: 0; }
    38% { top: -4.5rem; }
    48% { top: -4.5rem; width: 190px; }
    60% { top: -4.5rem; width: calc(100% - 80px); }
    65% { top: -4.5rem; width: 550px; text-indent: 0; }
    70% { top: -9rem; width: 0; text-indent: 5px; }
    85% { top: -9rem; width: 285px; }
    95% { top: -9rem; width: 285px; }
    100% { top: 0; width: 0; text-indent: 0; }
  }
  
  @keyframes openclose3 {
    0% { width: 0; }
    5% { width: 150px; }
    15% { width: 430px; }
    30% { width: 530px; }
    35% { width: 0; }
    38% { top: -4.5rem; }
    48% { top: -4.5rem; width: 190px; }
    60% { top: -4.5rem; width: calc(100% - 80px); }
    65% { top: -4.5rem; width: 550px; text-indent: 0; }
    70% { top: -9rem; width: 0; text-indent: 5px; }
    85% { top: -9rem; width: 285px; }
    95% { top: -9rem; width: 285px; }
    100% { top: 0; width: 0; text-indent: 0; }
  }
  
  @keyframes openclose {
    0% { top: 0.2rem; width: 0; }
    5% { width: 150px; }
    15% { width: 430px; }
    30% { width: 530px; }
    35% { width: 0; }
    38% { top: -4.5rem; }
    48% { top: -4.5rem; width: 190px; }
    60% { top: -4.5rem; width: calc(100% - 80px); }
    65% { top: -4.5rem; width: 550px; text-indent: 0; }
    70% { top: -9rem; width: 0; text-indent: 5px; }
    85% { top: -9rem; width: 285px; }
    95% { top: -9rem; width: 285px; }
    100% { top: 0; width: 0; text-indent: 0; }
  }
  
  .message .word1 {
    animation: openclose 8s linear infinite;
  }
  
  .message .word2 {
    animation: openclose 8s linear infinite 2s; /* Delay by 2 seconds */
  }
  
  .message .word3 {
    animation: openclose 8s linear infinite 4s; /* Delay by 4 seconds */
  }
  
  .message .word4 {
    animation: openclose 8s linear infinite 6s; /* Delay by 6 seconds */
  }

  